/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #000028;
  --button-color: #ff0070;
  --article-color: #f1b2ce;
  --button-border: rgba(255 0 112 / 0.4);
  --font-family: "IBM Plex Mono", sans-serif;
  --accent-padding: 10px;
  --image-cover: url('../images/cover-image-dark.png');
  --background-page: #000028;
  --text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {
  :root {
    --text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --accent-padding: 20px;
  }
}